<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "profile_image.jpg", width: 300, alt: "profile_image" %>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu odio ut sem nulla pharetra diam sit amet. Arcu dictum varius duis at consectetur lorem donec. Euismod lacinia at quis risus sed vulputate odio ut enim. Arcu vitae elementum curabitur vitae nunc.</p>

    <p>Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Scelerisque purus semper eget duis. Quam quisque id diam vel quam elementum. Quisque id diam vel quam elementum. Nisl pretium fusce id velit. Urna nunc id cursus metus. Nec tincidunt praesent semper feugiat. Condimentum lacinia quis vel eros donec ac odio tempor orci.</p>
  </div>
</div>
