<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Office Address</h3>

        <p>Butmirska cesta 18d, 71210 Ilidža</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "(+387) 60 337-9755" %></p>

        <h3>Email</h3>

        <p><a href="mailto: djulovic.dzenita1999@dgmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45572.36365787822!2d18.61071664191206!3d44.448078574259725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475eb34b5dba2af3%3A0xf95b1b9f57bf5319!2s%C5%BDivinice%2075270!5e0!3m2!1sbs!2sba!4v1595190653653!5m2!1sbs!2sba" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div>