<div class="inner cover">
    <h1 class="cover-heading">WELCOME</h1>
    <p class="lead">"If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success." -James Cameron</p>
    <p class="lead">
       <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>

      
